.wrapper {
  position: absolute;
  display: flex;
  align-items: center;
}

.component {
  width: 100%;
  height: 100%;
  padding: 5px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  border: 2px dashed red;
}

.inputField {
  flex: 1;
  height: 100%;
  padding: 2px 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  min-width: 30px;
}

.labelText {
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
}

.deleteIcon {
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
  background: white;
  border-radius: 50%;
  padding: 2px;
  border: 1px solid #ccc;
}

.inlineDeleteIcon {
  margin-left: 8px;
  cursor: pointer;
  vertical-align: middle;
}

.inputWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.labelWrapper {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  background-color: transparent;
}
